# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.manifest
*.spec.bak

# Virtual environments
.env
.venv
env/
venv/
.fbwenv/

# Unit test cache
.pytest_cache/

# Temporary media & stream fragments
*.part
*.ytdl
*.mp4.part

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
*~
Thumbs.db
Desktop.ini
.DS_Store
